body {
    background-image: url(../Votingbackground.jpeg);
    background-position: center;
  }
#headerSection{
    padding: 5px;
    color: whitesmoke;
}

#footersection{
    text-align: center;
    padding: 1px; 
    color: white;
    background-color: transparent;
    font-family: serif;
}

#usersection{
    font-size: 18px;
}

#headerSection h1{
    font-family: cursive;
    font-size: 35px;
}

input{
    padding: 10px;
    border-radius: 20px;
    padding-inline: 30px;
}

#dropbox{
    padding: 10px;
    border-radius: 15px;
    border-color: black;
}

#loginbtn{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: orange ;
    color: white;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-color: black;
}

#alreadysection{
    font-size: 18px;
}

#log{
    color: rgb(198, 228, 245);
}

#foot1{
    float: left;
}

#foot2{
    float: right;
    
}





